:root {
  background-color: #d1e0b8;
  font-size: 62.5%; /* Imposta la dimensione del font a 10px */
}

* {
  box-sizing: border-box; /* Include padding e border nella larghezza totale */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

h1 {
  font-size: 5.4rem;
  color: #819c49;
  margin-bottom: 5rem;
  text-align: center; /* Centro il testo del titolo */
}

form {
  width: 100%;
  max-width: 40rem; /* Imposta una larghezza massima per il modulo */
  margin: 0 auto; /* Centra il modulo orizzontalmente */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centro gli elementi orizzontalmente */
  padding: 2rem;
}

.form-group {
  width: 100%; /* Occupa tutta la larghezza del modulo */
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centro gli elementi all'interno del gruppo */
}

.form-group label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center; /* Centro il testo dell'etichetta */
  color: #475729;
}

.form-control {
  width: 100%; /* Occupa tutta la larghezza del contenitore */
  max-width: 30rem; /* Imposta la larghezza massima per input e select */
  padding: 1rem;
  font-size: 1.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center; /* Centro il testo del campo */
}

input,
select {
  width: 100%; /* Occupa tutta la larghezza del contenitore */
  max-width: 30rem; /* Imposta la larghezza massima */
  padding: 1rem;
  font-size: 1.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  text-align: center; /* Centro il testo e i placeholder */
}

select {
  height: auto; /* Imposta altezza automatica per adattarsi al contenuto */
}

input::placeholder,
select::placeholder {
  text-align: center; /* Centro il testo del placeholder */
}

.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 100%; /* Occupa tutta la larghezza del contenitore */
  max-width: 20rem; /* Limita la larghezza massima */
  text-align: center;
  border: 0.1rem solid #819c49;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #819c49;
  background-color: #f4f7ee;
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(14, 17, 8, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}



